<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FB Share tests</title>

	<meta property="og:title" content="Criando um card foda pra o clictempo" />
	<meta property="og:site_name" content="Tests para o ClicTempo"/>
	<meta property="og:url"	content="{{ og_url }}" />
	<meta property="og:type" content="site" />
	<meta property="og:image" content="{{ og_img_url }}" />

</head>
<body>
	<h1>Eu falei pra não ter reunião!</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo odit expedita beatae non fugit numquam quam qui, minus debitis quas, modi laudantium amet, inventore magni quod ullam voluptatum! Totam, repellat?
	</p>
	<a href="{{ fb_url }}">Share on Facebook</a>
</body>
</html>