<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FB Share tests</title>

	<meta property="og:title" content="Workday Sets Price Range for I.P.O." />
	<meta property="og:site_name" content="My Favorite News"/>
	<meta property="og:url"	content="{{ og_url }}" />
	<meta property="og:type" content="site" />
	<meta property="og:image" content="http://tempo.clic.com.br/static/images/web_share_clictempo.png" />

</head>
<body>
	<h1>Eu falei pra não ter reunião!</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo odit expedita beatae non fugit numquam quam qui, minus debitis quas, modi laudantium amet, inventore magni quod ullam voluptatum! Totam, repellat?
	</p>
	<a href="">Share on Facebook</a>
</body>
</html>